html, body {
    margin: 0;
    padding: 0;
    background: firebrick;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    overflow: auto;
    background: #fff;
    width: 1040px;
    box-sizing: border-box;
}
.pagination a, .pagination .current {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid red;
}

.pagination .current {
    background: orange;
    border: 1px solid black;
}